html {
    font-size: 18px;
    background-color: rgb(230, 230, 240)
}
@media screen and (min-width: 768px) {
    body {
        background-color:lightblue ;
        font-size: 24px;
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    line-height: 1.2;
    font-size: 1rem;
    color: #444444;





}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;


}
h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
#navbar {
    padding: 8px;
    margin: 0;
}

#logo {
    height: 32px;
}

h1 {
    text-align: center;
    font-size: 3rem;


}

#banner {
    width: 100%;
    object-fit: cover;

}

#jobs-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: #BFDBFE;
    text-align: center;
    color: #222222;
}

.jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
}

#jobs-table tr:nth-child(odd) {
    background-color: aliceblue;
}
#application{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;


}
.form-group{
    margin: 16px 0;
}
#application-form label{
    font-weight: 600;
}
#application-form input, select, textarea{
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid blueviolet;
}
.form-group textarea{
    width: 80%;
    font-family: 'roboto' sans-serif;

}
.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
.form-group input[type="submit"]{
    background-color: #3B82F6;
    color: white;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;

}

#description {
    width: 50%;
    padding-right: 8px;
    font-size: 1.25rem;

}

#team {
    width: 50%;



}

#team-image {
    border-radius: 25px;
    width: 100%;

}

h2 {
    text-align: center;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;

}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.Apply {
    float: right;
}

a {
    text-decoration: none;
    color: #3B82F6;
   
}
a:hover, a:focus {
    color: #1D4ED8;
}

#footer {
    background-color: #E2E8F0;
    padding: 8px;
    margin-top: 32px;
    text-align: center;


}

#footer-links {
    list-style: none;
    text-align: center;
}

#footer-links li {
    display: inline;
    margin: 0 16px;

}

.copyright {
    color: #52525B;
    font-size: 0.875rem;


}